{%extends 'base.html' %}

{% block title %}About Us{% endblock title%}
{% block style %}
	<style type="text/css">
		body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
	</style>
{% endblock style %}
{% block body %}
<div class="about-section">
 	<h1>Sanju & Garry</h1>
 	<p>We are software developers.</p>
 	<p>RealTech is a software developer company.</p>
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
 	<div class="column">
    	<div class="card">
      		{% load static %}<img src="{% static 'Mandy\garry1.png' %}" alt="Garry" style="height: 400px;width:100%;">
      		<div class="container">
        		<h2>Garry</h2>
       			<p class="title">CEO & Founder</p>
       			<p>Garry CEO of RealTech.Our company is a one of the best companies.</p>
       			<p>jeet42765@gmail.com</p>
      		</div>
    	</div>
  	</div>
 		<div class="column">
    		<div class="card">
      			{% load static %}<img src="{% static 'Mandy\sanju1.jpg' %}" alt="Sanju" style="height: 400px;width:100%;">
      			<div class="container">
			        <h2>Sanju</h2>
			        <p class="title">Art Director</p>
			        <p>Sanju is Art Director of our company.</p>
			        <p>sk079997@gmail.com</p>
      			</div>
    		</div>
  		</div>
		<div class="column">
    		<div class="card">
			    {% load static %}<img src="{% static 'Mandy\sameer1.jpg' %}" alt="Sameer" style="height: 400px;width:100%;">
			    <div class="container">
        			<h2>Sameer</h2>
        			<p class="title">Designer</p>
        			<p>Sameer is Designer of our company.</p>
        			<p>rsameer083@gamil.com</p>
      			</div>
    		</div>
  		</div>
</div>
{% endblock body%}