{%extends 'base.html' %}

{% block title %}RealTech{% endblock title%}

{% block style %}
<style type="text/css">

}</style>
{% endblock style %}

{% block body %}
	<div style="display: flex; justify-content: space-around; margin-top: 70px; flex-wrap: wrap; color: #0000ff;	" >
		{% load static %}<img src="{% static 'Mandy\1.jpg' %}" height="300px" width="400px" alt="pic" style="flex-shrink: 1;border-radius: 8px;">
	<p style="font-size: 30px; flex-shrink: 2;"><br>We develop softwares of your demands.<br>&nbsp&nbsp&nbspStart a project with us.</p></div>
	<div style="display: flex; justify-content: space-around;margin-top: 20px; flex-wrap: wrap; align-items: center; color: #0000ff;"  >
	<p style="font-size: 30px;flex-shrink: 1;"><br>50+ Projects<br><br>20+ Employees.</p>{% load static %}<img src="{% static 'Mandy\2.jpg' %}" height="300px" width="400px" alt="pic" style="flex-shrink: 2; border-radius: 8px;"></div>

{% endblock body%}